<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Index page</h1>
    <div>
        <ul>
            <li>Kenya</li>
            <li>Uganda</li>
            <li>Tanzania</li>
        </ul>
    </div>

    <div> 
        <h2>Delimeters Jinga2 Templates</h2>
        <ol>
            <li>  {%...%}used for statements </li>
            <li>{{...}}for expressions to print to the Templates output</li>
            <li>{#...#}for comments not included in the template output</li>
            <li>#...#for line statements</li>
        </ol>
    
    </div>
</body>
</html>